/* App.css */

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.homePage {
  padding: 20px;
}

.image {
  width: 360px; /* 設置圖片寬度為 360px */
  height: 400px; /* 設置圖片高度為 400px */
  margin: -20px auto 0; /* 向上移動 20px */
  display: block;
}

.startButton {
  width: 360px;
  padding: 10px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

.startButton:hover {
  background-color: #45a049;
}

/* 當頁面顯示時的漸入效果 */
.fadeIn {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.testPage {
  padding: 20px;
}
